
@font-face {
  font-family: 'A';
  src: url('../font/A.eot');
  src:
    url('../font/A.eot?#font-spider') format('embedded-opentype'),
    url('../font/A.woff') format('woff'),
    url('../font/A.ttf') format('truetype'),
    url('../font/A.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}